<div class="bootstrap-wrapper">
    <div class="container text-center mt" >
 <div class="row ">
    <div class="col-md-6 offset-md-3"  >
        <div class="container text-center">
            <img class="img-fluid" src="assets/login.png" style="width:120px ;" alt="">
        </div>
        <h1 class="text-center">Login</h1>
       <form name="form" (ngSubmit)=" onsubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="email">Email :</label>
           <input type="email" id="email" ngModel #email="ngModel"  name="email"
              class="form-control" required />
<div class="container">
    <span style="color: red; " *ngIf="!email.valid && email.touched">**email field cant be empty</span>
  
</div>
              </div>
            <div class="form-group mt">
                <label for="password">Password :</label>
               <input type="password" id="password" ngModel #password="ngModel"  name="password"
                  class="form-control" required pattern="^[a-zA-Z0-9]{8,16}$" />
                 <div class="container" *ngIf="!password.valid && password.touched">
                    <span *ngIf="password.errors?.['required']" style="color: red; ">**password field cant be empty</span>
                    <span *ngIf="password.errors?.['pattern']" style="color: red; ">**password should be between 8-16 character && contain alphanumerics</span>
                    
                 </div>
                </div>
          <div class="container mt">

            <button type="submit" mat-raised-button color="primary" class="mt" >Login</button>
            <button type="reset" mat-raised-button color="accent" class="mt" style="margin-left: 10px;" >Reset</button>

          </div>
        </form>  
    </div>
 </div>
</div>
</div>