<section class="vh-100 " >
<div class="bootstrap-wrapper" >
  <div class="container mt ">
    <div class="row" >
      <div class="col-md-6 offset-md-3"  >
        <div class="container text-center">
          <img style="width:50% ; margin-bottom: 30px;" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" alt="">
        </div>
        <h1 class="text-center mt" style="font-size:3rem ; font-weight: 500;">Login</h1>
        <form (ngSubmit)="onsubmit()">
          <mat-form-field class="full-width" style="margin-top:40px ;"> 
          <mat-label >Username :</mat-label>
          <input required type="email" matInput name="username" [(ngModel)]="credentials.username"  />
        </mat-form-field> <br><br><br>
        <mat-form-field class="full-width"> 
          <mat-label>Password :</mat-label>
          <input required type="password" matInput name="password" [(ngModel)]="credentials.password"/>
        </mat-form-field>
        <div class="container text-center" style="margin-top: 50px;">
<button type="submit" class="btn btn-success btn-lg">Login</button>
<button type="reset" style="margin-left:30px ;" class="btn btn-primary btn-lg ">Reset</button>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>
</section>
